<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Artboard 23 copy</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            text-indent: 0;
        }

        h1 {
            color: black;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 16.5pt;
        }

        .s1 {
            color: black;
            font-family: Verdana, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 13.5pt;
        }

        h2 {
            color: black;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 16pt;
        }

        h3 {
            color: black;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 14.5pt;
        }

        .s2 {
            color: #4D4D4D;
            font-family: Verdana, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 13pt;
        }

        .s3 {
            color: black;
            font-family: Verdana, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 10.5pt;
        }

        .p,
        p {
            color: black;
            font-family: Verdana, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 13pt;
            margin: 0pt;
        }

        h4 {
            color: #666;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 13.5pt;
        }

        .s4 {
            color: #39A941;
            font-family: Verdana, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 31pt;
            vertical-align: -1pt;
        }

        .s5 {
            color: #39A941;
            font-family: Verdana, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 29pt;
        }

        .s6 {
            color: #666;
            font-family: Verdana, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 12.5pt;
        }

        .s7 {
            color: black;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 15.5pt;
        }

        .s8 {
            color: black;
            font-family: Verdana, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 14pt;
        }

        .s9 {
            color: black;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 14pt;
        }

        .s10 {
            color: #22B573;
            font-family: Verdana, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 19.5pt;
        }

        .s12 {
            color: black;
            font-family: Verdana, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 20pt;
            vertical-align: -1pt;
        }

        .s13 {
            color: black;
            font-family: Verdana, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 19pt;
        }

        .s14 {
            color: black;
            font-family: Verdana, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 11.5pt;
        }

        .s15 {
            color: #999;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 11.5pt;
        }

        .s16 {
            color: #999;
            font-family: Arial, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 11pt;
        }

        table,
        tbody {
            vertical-align: top;
            overflow: visible;
        }
    </style>
</head>


<body style="width: 890px;">
    <div style="display: flex; justify-content: space-between; align-items: center; gap: 10px; margin-bottom: 20px;">
        <img src="./assets/long.png" width="500px" height="50px" />
        <div>
            <h2 style="padding-top: 6pt;padding-left: 15pt;text-indent: 0pt;text-align: left; font-size: 24px;">Payslip for <b>Employee name:</b> <%= salary.date1 %> <br />
            </h2>
            <h3 style="padding-top: 7pt; padding-bottom: 20px;padding-left: 15pt;text-indent: 0pt;text-align: left;">Employee
                Pay Summary</h3>
        </div>
    </div>
    <!-- <h1 style="padding-top: 6pt;padding-left: 17pt;text-indent: 0pt;text-align: left;">Zylker Corp</h1> -->
    <p class="s2" style="padding-left: 17pt;text-indent: 0pt;text-align: left;">
        <b>Address: </b>
        416, Laxmi Tower, Commercial Complex, Azadpur, Delhi-110033
    </p>
    <p class="s2" style="padding-left: 17pt;text-indent: 0pt;text-align: left;">
        <b>Call us on: </b>
        (+91) 99990 97054 | 98993 85005
    </p>
    <p class="s2" style="padding-left: 17pt;text-indent: 0pt;text-align: left;">
        <b>Write us at: </b>
        hr@adsversify.com
    </p>
    <p class="s2" style="padding-left: 17pt;text-indent: 0pt;text-align: left;">
        <b>Visit us at: </b>
        www.adsversify.com
    </p>
    <p class="s2" style="padding-top: 5pt;padding-left: 15pt;text-indent: 0pt;line-height: 186%;text-align: left;">
        <b>Employee name:</b> <%= employee.name %> <br />
        <b>Department:</b> <%= employee.department %> <br />
        <b>Designation:</b> <%= employee.designation %> <br />
        <b>Date of Joining:</b> <%= employee.joiningDate %>
    </p>
    <p class="s2" style="padding-left: 15pt;text-indent: 0pt;line-height: 186%;text-align: left;">
        <b>Pan no:</b> <%= employee.panNumber %> <br />
        <b>Aadhar no:</b> <%= employee.aadharNumber %>
    </p>
    
    <div style="display: flex; justify-content: space-between;">
        <div>
            <p class="s2" style="padding-top: 13pt;padding-left: 15pt;text-indent: 0pt;line-height: 186%;text-align: left;">
                <b>Name:</b> <%= employee.name %>
            </p>
            <p class="s2" style="padding-left: 15pt;text-indent: 0pt;line-height: 186%;text-align: left;">
                <b>Bank type:</b> <%= employee.bankDetails.bankName %>
            </p>
            <p class="s2" style="padding-left: 15pt;text-indent: 0pt;line-height: 186%;text-align: left;">
                <b>Account:</b> <%= employee.bankDetails.bankAccountNo %>
            </p>
            <p class="s2" style="padding-left: 15pt;text-indent: 0pt;line-height: 186%;text-align: left;">
                <b>IFSC:</b> <%= employee.bankDetails.bankIfscCode %>
            </p>
            <p class="s2" style="padding-left: 15pt;text-indent: 0pt;line-height: 186%;text-align: left;">
                <b>Branch:</b> <%= employee.bankDetails.branch %>
            </p>
        </div>
        
        <div>
            <p class="s4" style="padding-top: 3pt;padding-left: 27pt;text-indent: 0pt;text-align: center;">
                ₹<span class="s5"><%= salary.netSalary %></span>
            </p>
            <p class="s6" style="padding-top: 1pt;padding-left: 30pt;text-indent: 0pt;text-align: center;">
                Paid Days: <%= salary.paidDays %> | LOP Days: <%= salary.lopDays %>
            </p>
            <p class="s6" style="padding-top: 1pt;padding-left: 30pt;text-indent: 0pt;text-align: center;">
                Deduction per Leave: ₹<%= deductionPerLeave %>
            </p>
            <p class="s6" style="padding-top: 1pt;padding-left: 30pt;text-indent: 0pt;text-align: center;">
                Addition per Leave: ₹<%= additionPerLeave %>
            </p>
        </div>
        
    </div>
 
    <h4 style="padding-top: 30pt; padding-bottom: 30px;padding-left: 30pt;text-indent: 0pt;">Employee Net Pay</h4>
    <table style="border-collapse:collapse;margin-left:5pt" cellspacing="0">
        <tr style="height:38pt">
            <td style="width:190pt" bgcolor="#F5F5F5">
                <p class="s7" style="padding-top: 13pt;padding-left: 10pt;text-indent: 0pt;text-align: left;">EARNINGS
                </p>
            </td>
            <td style="width:103pt" bgcolor="#F5F5F5">
                <p class="s7" style="padding-top: 13pt;padding-right: 21pt;text-indent: 0pt;text-align: right;">AMOUNT
                </p>
            </td>
          
            <td style="width:169pt" bgcolor="#F5F5F5">
                <p class="s7" style="padding-top: 13pt;padding-left: 22pt;text-indent: 0pt;text-align: left;">DEDUCTIONS
                </p>
            </td>
            <td style="width:126pt" bgcolor="#F5F5F5">
                <p class="s7" style="padding-top: 13pt;padding-right: 17pt;text-indent: 0pt;text-align: right;">AMOUNT
                </p>
            </td>
         
        </tr>
        <tr style="height:50pt">
            <td style="width:190pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
                <p class="s8" style="padding-left: 10pt;text-indent: 0pt;text-align: left;">Basic</p>
            </td>
            <td style="width:103pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
                <p class="s8" style="padding-right: 21pt;text-indent: 0pt;text-align: right;">₹<%= salary.basicPay %></p>
            </td>
          
            <td style="width:169pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
                <p class="s8" style="padding-left: 22pt;text-indent: 0pt;text-align: left;">TDS</p>
            </td>
            <td style="width:126pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
                <p class="s8" style="padding-right: 18pt;text-indent: 0pt;text-align: right;">₹<%= salary.tds %></p>
            </td>
        
        </tr>
        <tr style="height:38pt">
            <td style="width:190pt">
                <p class="s8" style="padding-top: 10pt;padding-left: 10pt;text-indent: 0pt;text-align: left;">Travel
                    Allowance</p>
            </td>
            
        
            <td style="width:103pt">
                <p class="s8" style="padding-top: 10pt;padding-right: 21pt;text-indent: 0pt;text-align: right;">
                    ₹<%= salary.travelPay %></p>
            </td>

         
            <td style="width:169pt">
                <p class="s8" style="padding-top: 10pt;padding-left: 22pt;text-indent: 0pt;text-align: left;">Unpaid Leaves
                </p>
            </td>
            <td style="width:103pt">
                <p class="s8" style="padding-top: 10pt;padding-right: 21pt;text-indent: 0pt;text-align: right;">
                    ₹<%= deductionPerLeave%></p>
            </td>
            
            
           
        </tr>
        <tr style="height:38pt">
            <td style="width:190pt">
                <p class="s8" style="padding-top: 10pt;padding-left: 10pt;text-indent: 0pt;text-align: left;">Bonus</p>
            </td>
            <td style="width:103pt">
                <p class="s8" style="padding-top: 10pt;padding-right: 21pt;text-indent: 0pt;text-align: right;">
                    ₹<%= salary.bonus %></p>
            </td>
           
            <td style="width:169pt">
                <p class="s8" style="padding-top: 10pt;padding-left: 22pt;text-indent: 0pt;text-align: left;">Advance Salary
                </p>
            </td>
            <td style="width:126pt">
                <p class="s8" style="padding-top: 10pt;padding-right: 17pt;text-indent: 0pt;text-align: right;">₹<%= salary.advanceSalary %></p>
            </td>
     
        </tr>
        <tr style="height:57pt">
            <td style="width:190pt">
                <p class="s8"
                    style="padding-top: 10pt;padding-left: 10pt;padding-right: 56pt;text-indent: 0pt;line-height: 111%;text-align: left;">
                Paid Leaves</p>
            </td>
            <td style="width:103pt">
                <p class="s8" style="padding-top: 10pt;padding-right: 21pt;text-indent: 0pt;text-align: right;">
                    ₹<%= additionPerLeave%></p>
            </td>
    
           
            <td style="width:169pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:126pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:93pt">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
   
        <tr style="height:69pt">
            <td style="width:190pt;border-top-style:solid;border-top-width:1pt;border-top-color:#CCCCCC">
                <p class="s9" style="padding-top: 14pt;padding-left: 16pt;text-indent: 0pt;text-align: left;">Gross
                    Earnings</p>
            </td>
            <td style="width:103pt;border-top-style:solid;border-top-width:1pt;border-top-color:#CCCCCC">
                <p class="s9" style="padding-top: 14pt;padding-right: 18pt;text-indent: 0pt;text-align: right;">
                    <%= salary.totalDeductions %></p>
            </td>
            <td style="width:112pt;border-top-style:solid;border-top-width:1pt;border-top-color:#CCCCCC">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:169pt;border-top-style:solid;border-top-width:1pt;border-top-color:#CCCCCC">
                <p class="s9" style="padding-top: 14pt;padding-left: 22pt;text-indent: 0pt;text-align: left;">Total
                    Deductions</p>
            </td>
            <td style="width:126pt;border-top-style:solid;border-top-width:1pt;border-top-color:#CCCCCC">
                <p class="s9" style="padding-top: 13pt;padding-right: 18pt;text-indent: 0pt;text-align: right;">
                    <%= salary.totalDeductions %><</p>
            </td>
            <td style="width:93pt;border-top-style:solid;border-top-width:1pt;border-top-color:#CCCCCC">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
      
    </table>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p class="s10" style="padding-top: 8pt;text-indent: 0pt;text-align: left;">| <span style=" color: #000;">Total Net
            Payable </span><span class="s12">₹</span><span class="s13"><%= salary.netSalary %></span><span class="s14">
    <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;" />
  
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p class="s15" style="padding-top: 6pt;padding-left: 307pt;text-indent: 0pt;text-align: center;">-This is system
        generated payslip-</p>
</body>

</html>